src/main/mule/endpoints.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
<flow name="schedulerFlow" doc:id="aff4106d-d2f6-4366-940a-a380dcb1cf73" >
	<scheduler doc:name="Scheduler" doc:id="58b7c776-fbee-4753-9bea-f6cc3e037efd" >
		<scheduling-strategy >
			<fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.startDelay}"/>
		</scheduling-strategy>
	</scheduler>
	<flow-ref doc:name="Trigger watermarkingFlow" doc:id="ada07859-8839-4751-9623-68a08d31a472" name="watermarkingFlow" />
		<flow-ref name="businesLogicFlow" doc:name="Trigger syncAccountsBatch" doc:id="e16bf02c-b833-47de-afd5-2329ce1fab2b" />
	<error-handler >
		<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="488b507d-e26c-4c56-8759-8bb4f6645d71" type="ANY">
			<flow-ref doc:name="errorHandlingFlow" doc:id="afdaf73c-0137-4d60-84f6-5c41234771a3" name="errorHandlingFlow" />
		</on-error-propagate>
	</error-handler>
</flow>
<flow name="watermarkingFlow">
		<os:retrieve key="watermark" objectStore="watermarkStore" target="lastQueryTimestamp" doc:name="Retrieve lastQueryTimestamp">
    	    <os:default-value><![CDATA[${watermark.default.expression}]]></os:default-value>
	    </os:retrieve>
		<db:select config-ref="Database_Config" doc:name="Query database for accounts" doc:id="bb7d5e46-7258-4a59-8c44-9e4101ceb779" >
			<db:sql >SELECT AccountNumber, Description, Industry, Name, NumberOfEmployees, Phone, Type, LastModifiedDate FROM Account WHERE LastModifiedDate &gt; :lastModifiedDate ORDER BY LastModifiedDate ASC</db:sql>
			<db:input-parameters ><![CDATA[#[{'lastModifiedDate': vars.lastQueryTimestamp}]]]></db:input-parameters>
		</db:select>
    	<os:store key="watermark" failIfPresent="false" failOnNullValue="false" objectStore="watermarkStore" doc:name="Store lastQueryTimestamp">
        	<os:value>#[max(payload map $.LastModifiedDate)]</os:value>
    	</os:store>
	</flow>
</mule>

