src/main/mule/template-db2sfdc-account-broadcast.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="59194256-5c2f-49ea-8146-c46fbbf41c61" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.user}" password="${db.password}" database="${db.name}" />
	</db:config>
	<salesforce:sfdc-config name="Salesforce_Sfdc_config" doc:name="Salesforce Sfdc config" doc:id="97583da0-5499-4f2e-a610-5f6568d7e3c6" >
		<salesforce:basic-connection username="${sfdc.username}" password="${sfdc.password}" securityToken="${sfdc.securityToken}"/>
	</salesforce:sfdc-config>
	<os:object-store name="watermarkStore" persistent="true" doc:name="Object store"/>

	<configuration-properties file="mule-artifact.properties" doc:name="Configuration properties" doc:id="ca514625-7559-4c4d-a352-9acbc3a331dc" />
	<configuration-properties file="common.properties" doc:name="Configuration properties" doc:id="77c4ebce-f817-4dff-99ad-6d2e76512d04" />
	<configuration-properties file="mule.${mule.env}.properties" doc:name="Configuration properties" doc:id="34a99db6-7c63-46ba-89f5-fa5d1fed399e" />

	<flow name="triggerFlow" doc:id="b5084d98-546e-42f5-a031-f4ebe8dbe78f" >
		<scheduler doc:name="Trigger sync" doc:id="05062260-47d6-440d-a648-286e6aade0f6" >
			<scheduling-strategy >
				<fixed-frequency frequency="${scheduler.frequency}" startDelay="${scheduler.startDelay}"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="watermarkingFlow" doc:id="1177be5d-af9d-42a8-91cd-68200e7396a9" name="watermarkingFlow"/>
		<batch:job jobName="syncAccountsBatch" doc:id="5e00c5b5-ab34-4418-8af4-381a73424370" >
			<batch:process-records >
				<batch:step name="getAccountInSalesforceStep" doc:id="351fd5d6-6cee-4269-afb3-f9a1b57cb079" >
					<salesforce:query-single config-ref="Salesforce_Sfdc_config" doc:name="Query Account in Salesforce" doc:id="c87a5909-7aa8-45d0-a17d-7126078e2674" target="sfdcId">
						<salesforce:salesforce-query >SELECT Id FROM Account WHERE Name = ':name'</salesforce:salesforce-query>
						<salesforce:parameters ><![CDATA[#[output applicaton/java
---
{
	"name" : payload.Name
}]]]></salesforce:parameters>
					</salesforce:query-single>
					<ee:transform doc:name="Add SFDC ID to payload" doc:id="a79f7867-069e-4de8-ac61-3966d27e68d2" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload ++ vars.sfdcId]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				<batch:step name="upsertAccountsInSalesforceStep" doc:id="6d6dc09e-3822-42d1-82d8-875e223a85fd" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="42b7200f-55a0-46c9-b6ca-df1a716c306e" size="${page.size}">
						<ee:transform doc:name="DB account to SFDC account" doc:id="376fc102-43e2-4243-ab9f-c0a7b60c0410" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map
{
	AccountNumber: $.AccountNumber,
	Description: $.Description,
	Id: $.Id,
	Name: $.Name,
	NumberOfEmployees: $.NumberOfEmployees as Number {class: "java.lang.Integer"} default 0,
	Industry: $.Industry
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<salesforce:upsert config-ref="Salesforce_Sfdc_config" externalIdFieldName="Id" type="Account" doc:name="Upsert" doc:id="cecaee48-0a20-42a9-ba98-282b48cfe5b8" />
						<logger level="INFO" doc:name="Log Result" doc:id="34d0e6f8-e4e3-4425-b9ae-0876c17e031c" message="#['Upsert result: \n' ++ write(payload, 'application/json')]"/>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Log 'Migration process has finished'" doc:id="24805809-bda0-4922-8367-16e5adcde300" message="#['Migration process has finished: \n' ++ write(payload, 'application/json')]"/>
			</batch:on-complete>
		</batch:job>
	</flow>
	<flow name="watermarkingFlow">
		<os:retrieve key="watermark" objectStore="watermarkStore" target="lastQueryTimestamp" doc:name="Retrieve lastQueryTimestamp">
    	    <os:default-value><![CDATA[${watermark.default.expression}]]></os:default-value>
	    </os:retrieve>
		<db:select config-ref="Database_Config" doc:name="Query database for accounts" doc:id="bb7d5e46-7258-4a59-8c44-9e4101ceb779" >
			<db:sql >SELECT AccountNumber, Description, Industry, Name, NumberOfEmployees, Phone, Type, LastModifiedDate FROM Account WHERE LastModifiedDate &gt; :lastModifiedDate</db:sql>
			<db:input-parameters ><![CDATA[#[{'lastModifiedDate': vars.lastQueryTimestamp}]]]></db:input-parameters>
		</db:select>
    	<os:store key="watermark" failIfPresent="false" failOnNullValue="false" objectStore="watermarkStore" doc:name="Store lastQueryTimestamp">
        	<os:value>#[max(payload map $.LastModifiedDate)]</os:value>
    	</os:store>
	</flow>

</mule>
